<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title osu!watch - version_control.txt
	link(href="/assets/css/style_version_control.css" rel="stylesheet")
body
	header
		a(href="/")
			span.osu osu!
			span watch
		span.txt version_control.txt
	main
		//- .post
		//- 	header
		//- 		.version Version: 
		//- 		.date
		//- 	.post-body
		//- 		.rec
		//- 			.fix
		//- 			.text.

		.post
			header
				.version Version: 1.0.5
				.date 22.06.2017
			.post-body
				.rec
					.fix FIX
					p
					.text Исправлено отображение модов: теперь мод DT не будет появляться в списке при игре с модом NC. 

		.post
			header
				.version Version: 1.0.4
				.date 21.06.2017
			.post-body
				.rec
					.fix FIX
					.text.
						Снижено потребление ресурсов за счет оптимизации анимации свечения аватарки :^ 
						У некоторых пользователей в действительности наблюдались в игре проблемы (притормаживание движение курсора, типа такого), связанные с этим.
		.post
			header
				.version Version: 1.0.3
				.date 21.06.2017
			.post-body
				.rec
					.fix FIX
					p
					.text Сделан рефакторинг кода, в следсвии которого снижено количество запросов на север, связанное с количеством полученных пп за плей. Если карта ранкнута и квалифаенд, то тогда нас интересуют пп. Иначе (также это касается фейлов) - выводится nothing. 
				.rec
					.add.exp ADD
					.text.
						Добавлен фильтр для скоров. Теперь можно отфильтровать скоры от тех, что не принесли вам пп. 
						Сам фильтр появляется, как только был добавлен хотя бы один результат о каком-то плее, будь то фейл или скор, принесший пп.
						К тому же можно включить фильтр и играть дальше - тогда при добавлении нового скора, он будет добавлен к отоброжению лишь тогда, когда будет ясно, что он принес пп. 
						Функция экспериментальная и была сложна в реализации, прошу сообщать обо всех некорректностях в работе. 
		.post
			header
				.version Version: 1.0.2
				.date 18.06.2017
			.post-body
				.rec
					.fix FIX
					.text.
						Исправил ошибку, которая могла иногда возникать, если сервер считал пп за плей достаточно долго, а запрос, который берет эту информацию, её не получил (в ответе был получен null в графе о пп, хотя как известно, за ранкнутую или квалифаендную карту пп должны быть).
						В таком случае делаются повторные запросы до тех пор, пока сервер игры не посчитает пп и мы их не получим в запросе.
						(Ppy fix you shit)
		.post
			header
				.version Version: 1.0.1
				.date 17.06.2017
			.post-body
				.rec
					.fix FIX
					.text.
						Исправил приведение числовых типов данных, получаемых с сервера, где это только возможно.
						Теперь ошибок в сравнениях различной информации и, как следствие, некорректная работа некоторых ключевых условий, стало равно чуть меньше, чем нулю.